

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 6rem;
    background: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 2;

    .logo img{
        width: 80px;
        height: 80px;
        background: blue;
    }
    nav{
        width: 70rem;

        ul{
            width: 100%;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            li{
                a{
                    font-size: 2rem;
                    color: #fff;
                    text-decoration: none;
                    padding: 1rem;

                    &:hover{
                        background: #fff;
                        color: #222;
                    }
                }
            }
        }
    }
    
}
